@page "/"
@inherits BlazorStateComponent
@inject JsService JsService

<div class="container-fluid vh-100">
@if (AB != null)
{
    <table class="table text-primary mt-2">
        <tr>
            <td>@AB.z_AT1_36.title</td>
            <td>@AB.z_AT1_36.value</td>
        </tr>
        <tr>
            <td>@AB.z_AN8_21.title</td>
            <td>@AB.z_AN8_21.value</td>
        </tr>
        <tr>
            <td>@AB.z_ALPH_28.title</td>
            <td>@AB.z_ALPH_28.value</td>
        </tr>
        <tr>
            <td>@AB.z_ADD1_40.title</td>
            <td>@AB.z_ADD1_40.value</td>
        </tr>
        <tr>
            <td>@AB.z_ADD2_42.title</td>
            <td>@AB.z_ADD2_42.value</td>
        </tr>
    </table>
}
<div class="fixed-bottom p-4 overflow-auto">
    <menu></menu>
    <terminal></terminal>
</div>
</div>


@code {
    protected AppState AppState => GetState<AppState>();
    protected Data.W01012A.Form AB => AppState.AddressBook;
    protected void StateChanged(object sender, EventArgs e) => StateHasChanged();
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsService.InitTerminal("terminal");
            JsService.StateChanged += StateChanged;
        }
    }
}
